In [1]:
#importing libraries

import time
import calendar as cal
import pandas as pd
import numpy as np

# Data Cleaning

In [2]:
# loading data

chicago = pd.read_csv('chicago.csv')
nyc = pd.read_csv('new_york_city.csv')
washington = pd.read_csv('washington.csv')

In [3]:
# cleaning chicago data

#chicago.info()
chicago.isnull().sum()                                            #checking for null values

chicago['Gender'].value_counts()                                  #indicates the no of unique values in the Gender column

mode_gender = chicago['Gender'].mode()[0]
chicago['Gender'].fillna(mode_gender, inplace=True)          #replacing null values in Gender column with the mode of the column

#repeat the same process for the Birth Year column

chicago['Birth Year'].value_counts()

chicago.describe(include='all')                                 #used to display statistical info like mean, count, etc

avg_year = chicago['Birth Year'].mean()
chicago['Birth Year'].fillna(avg_year, inplace=True)     #replacing null values in Birth Year column with the mean of the column


chicago.isnull().sum()                                             #checking to confirm no null values

Unnamed: 0       0
Start Time       0
End Time         0
Trip Duration    0
Start Station    0
End Station      0
User Type        0
Gender           0
Birth Year       0
dtype: int64

In [4]:
# cleaning nyc data

#nyc.info

nyc.isnull().sum()
nyc.describe(include='all')

usertype_mode = nyc['User Type'].mode()[0]
nyc['User Type'].fillna(usertype_mode, inplace=True)

nyc['Gender'].value_counts()
mode_gender = nyc['Gender'].mode()[0]
nyc['Gender'].fillna(mode_gender, inplace=True)

nyc['Birth Year'].value_counts()
avg_year = nyc['Birth Year'].mean()
nyc['Birth Year'].fillna(avg_year, inplace=True)


nyc.isnull().sum()

Unnamed: 0       0
Start Time       0
End Time         0
Trip Duration    0
Start Station    0
End Station      0
User Type        0
Gender           0
Birth Year       0
dtype: int64

In [5]:
# cleaning washington data

#washington.info()
washington.isnull().sum()

Unnamed: 0       0
Start Time       0
End Time         0
Trip Duration    0
Start Station    0
End Station      0
User Type        0
dtype: int64

Washington data has no null values. It has no 'Gender' and 'Birth Year' column also.

In [6]:
city_data = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

months = ['all','january', 'february', 'march', 'april', 'may', 'june']

days = ['all','monday','tuesday','wednesday','thursday','friday','saturday','sunday']

## def get_filters()

In [7]:
def get_filters():
    """
    Asks user to specify a city, month, and day to analyze.

    Returns:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    """
    print('Hello! Let\'s explore some US bikeshare data!')
    # get user input for city (chicago, new york city, washington). HINT: Use a while loop to handle invalid inputs
    while True:
        try:
            city = str(input("Please enter your city: ")).lower()
        except ValueError:
            print("Sorry, I didn't understand that.")
            continue

        if city not in city_data:
            print("Please input one of these cities: Chicago, New York City or Washington")
            continue
        else:
        #city input was successfully parsed, and we're happy with its value.
        #we're ready to exit the loop.
            break


    # get user input for month (all, january, february, ... , june)
    while True:
        try:
            month = str(input("Please enter the month: ")).lower()
        except ValueError:
            print("Sorry, I didn't understand that.")
            continue
            

        if month not in months:
            print("Please enter a month between january to june or all to apply no filters")
        
        
            continue
        else:
            
        #month_input was successfully parsed, and we're happy with its value.
        #we're ready to exit the loop.
            break
    if month == 'all':
          print(months[1:])
            


    # get user input for day of week (all, monday, tuesday, ... sunday)
    while True:
        try:
            day = str(input("Please enter the day: ")).lower()
        except ValueError:
            print("Sorry, I didn't understand that.")
            continue

        if day not in days:
            print("Please enter a day of the week or all to apply no filters")
        
            continue
        else:
            
        #day_input was successfully parsed, and we're happy with its value.
        #we're ready to exit the loop.
            break
    if day == 'all':
        print(days[1:])
        


    print('-'*40)
    return city, month, day

get_filters()

Hello! Let's explore some US bikeshare data!
Please enter your city: chicago
Please enter the month: may
Please enter the day: friday
----------------------------------------

('chicago', 'may', 'friday')

## def load_data()

In [8]:
city_data = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - pandas DataFrame containing city data filtered by month and day
    """
    
    # load data file into a dataframe
    df = pd.read_csv(city_data[city])

    # convert the Start Time column to datetime
    df['Start Time'] = pd.to_datetime(df['Start Time'])

    # extract month and day of week from Start Time to create new columns
    df['month'] = df['Start Time'].dt.month
    df['day_of_week'] = df['Start Time'].dt.dayofweek
    df['hour'] = df['Start Time'].dt.hour
 

    # filter by month if applicable
    
    if month != 'all':
        # use the index of the months list to get the corresponding int
        months = {'january': 1, 'february': 2, 'march': 3, 'april': 4,
                  'may': 5, 'june': 6}       
        
         # filter by month to create the new dataframe
        df = df.loc[df['month'] == months[month]]
        
        
        
    # filter by day of week if applicable
    if day != 'all':
        # filter by day of week to create the new dataframe
        
        days = {'monday': 0, 'tuesday': 1, 'wednesday': 2, 'thursday': 3,
                  'friday': 4, 'saturday': 5, 'sunday': 6}
        df = df.loc[df['day_of_week'] == days[day]]


    return df

df = load_data('chicago','january','sunday')
df

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week,hour
11,71678,2017-01-22 15:15:45,2017-01-22 15:31:02,917,Southport Ave & Wellington Ave,Clark St & Schiller St,Subscriber,Male,1964.0,1,6,15
12,19061,2017-01-08 16:03:00,2017-01-08 16:07:37,277,Green St & Madison St,Ada St & Washington Blvd,Subscriber,Male,1961.0,1,6,16
120,1647,2017-01-01 21:06:09,2017-01-01 21:10:37,268,Sedgwick St & Webster Ave,Halsted St & Wrightwood Ave,Subscriber,Male,1984.0,1,6,21
143,18745,2017-01-08 13:23:19,2017-01-08 13:28:52,333,State St & Harrison St,Wells St & Polk St,Subscriber,Male,1954.0,1,6,13
234,1188,2017-01-01 16:09:40,2017-01-01 16:16:08,388,Cornell Ave & Hyde Park Blvd,Greenwood Ave & 47th St,Subscriber,Male,1966.0,1,6,16
...,...,...,...,...,...,...,...,...,...,...,...,...
299275,102115,2017-01-29 18:05:38,2017-01-29 18:16:22,644,Dearborn St & Erie St,Wells St & Concord Ln,Subscriber,Female,1978.0,1,6,18
299450,101611,2017-01-29 13:47:42,2017-01-29 14:09:06,1284,Southport Ave & Roscoe St,Damen Ave & Pierce Ave,Subscriber,Male,1989.0,1,6,13
299460,1557,2017-01-01 19:14:50,2017-01-01 19:46:15,1885,Wabash Ave & Wacker Pl,Rush St & Superior St,Customer,NaN,NaN,1,6,19
299752,40281,2017-01-15 13:49:32,2017-01-15 13:54:19,287,Ravenswood Ave & Lawrence Ave,Ravenswood Ave & Berteau Ave,Subscriber,Male,1994.0,1,6,13
299908,69745,2017-01-22 02:29:02,2017-01-22 02:33:26,264,State St & 33rd St,Rhodes Ave & 32nd St,Subscriber,Male,1993.0,1,6,2

## def time_stats()

In [9]:
def time_stats(df):
    """Displays statistics on the most frequent times of travel."""

    print('\nCalculating The Most Frequent Times of Travel...\n')
    start_time = time.time()

    # display the most common month
    
    common_month = df['month'].mode()[0]
    print("The most common month is", common_month)


    # display the most common day of week
          
    common_day_of_week = df['day_of_week'].mode()[0]
    print("The most common day of week is", common_day_of_week)


    # display the most common start hour
    
    common_start_hour = df['hour'].mode()[0]
    print("The most common start hour is", str(common_start_hour))


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

## def station_stats()

In [10]:
def station_stats(df):
    """Displays statistics on the most popular stations and trip."""

    print('\nCalculating The Most Popular Stations and Trip...\n')
    start_time = time.time()

    # display most commonly used start station
    commonly_used_start_station = df['Start Station'].mode()[0]
    print('The most commonly used start station:', commonly_used_start_station)


    # display most commonly used end station
    commonly_used_end_station = df['End Station'].mode()[0]
    print('The most commonly used end station:', commonly_used_end_station)


    # display most frequent combination of start station and end station trip
    start_end_combo = (df['Start Station'] + ' and ' + df['End Station']).mode()[0]
    print('The most frequent combination of start station and end station is', start_end_combo)
    
    
    
    df['start end station'] = df['Start Station'] + ' and ' + df['End Station'] 
    popular_start_end_station = df['start end station'].mode()[0]
    

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

## def trip_duration_stats()

In [11]:
def trip_duration_stats(df):
    """Displays statistics on the total and average trip duration."""

    print('\nCalculating Trip Duration...\n')
    start_time = time.time()
    

    # display total travel time
    total_travel_time = df['Trip Duration'].sum()
    print('Total travel time is:', str(total_travel_time))


    # display mean travel time
    mean_travel_time = df['Trip Duration'].mean()
    print('Mean travel time is:', str(mean_travel_time))


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

## def user_stats()

In [12]:
def user_stats(df):
    """Displays statistics on bikeshare users."""

    print('\nCalculating User Stats...\n')
    start_time = time.time()

    # Display counts of user types
    usertype_count = df['User Type'].value_counts()
    print('Count of user types in your selected data is:', usertype_count)
    


    # Display counts of gender
    
    
    if 'Gender' in df.columns:                                            # checking to see if dataframe contains Gender column
        gender_count = df['Gender'].value_counts()
        print('The count of gender in your selected data is', str(gender_count))
        
    else:
        print("There's no information on gender for your selected data")

    # Display earliest, most recent, and most common year of birth
    
    if 'Birth Year' in df.columns:                                       # checking to see if dataframe contains Gender column         
        earliest_birth = df['Birth Year'].min()
        print('Earliest year of birth is', int(earliest_birth))
        
        most_recent  = df['Birth Year'].max()
        print('Most recent year of birth is', int(most_recent))
        
        most_common = df['Birth Year'].mode()
        print('Most common year of birth is', int(most_common))
        
        
    else:
        print("There's no information on birth year for your selected data")
    
    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

## def load_raw_data

In [13]:
def show_raw_data(df):
    
    df = pd.read_csv('chicago.csv')
    
    """Displays raw data on user request.
    Args:
        (DataFrame) df - Pandas DataFrame containing city data filtered by month and day
    """
    print(df.head())
    next = 0
    while True:
        raw_data = input('\nWould you like to see the next five rows of raw data? Enter yes or no.\n')
        if raw_data.lower() != 'yes':
            return
        next += 5
        print(df.iloc[next:next+5])
        
show_raw_data(df)

   Unnamed: 0           Start Time             End Time  Trip Duration  \
0     1423854  2017-06-23 15:09:32  2017-06-23 15:14:53            321
1      955915  2017-05-25 18:19:03  2017-05-25 18:45:53           1610
2        9031  2017-01-04 08:27:49  2017-01-04 08:34:45            416
3      304487  2017-03-06 13:49:38  2017-03-06 13:55:28            350
4       45207  2017-01-17 14:53:07  2017-01-17 15:02:01            534

                   Start Station                   End Station   User Type  \
0           Wood St & Hubbard St       Damen Ave & Chicago Ave  Subscriber
1            Theater on the Lake  Sheffield Ave & Waveland Ave  Subscriber
2             May St & Taylor St           Wood St & Taylor St  Subscriber
3  Christiana Ave & Lawrence Ave  St. Louis Ave & Balmoral Ave  Subscriber
4         Clark St & Randolph St  Desplaines St & Jackson Blvd  Subscriber

   Gender  Birth Year
0    Male      1992.0
1  Female      1992.0
2    Male      1981.0
3    Male      1986.0
4    Male      1975.0

Would you like to see the next five rows of raw data? Enter yes or no.
yes
   Unnamed: 0           Start Time             End Time  Trip Duration  \
5     1473887  2017-06-26 09:01:20  2017-06-26 09:11:06            586
6      961916  2017-05-26 09:41:44  2017-05-26 09:46:25            281
7       65924  2017-01-21 14:28:38  2017-01-21 14:40:41            723
8      606841  2017-04-20 16:08:51  2017-04-20 16:20:20            689
9      135470  2017-02-06 18:00:47  2017-02-06 18:09:00            493

                  Start Station                    End Station   User Type  \
5  Clinton St & Washington Blvd           Canal St & Taylor St  Subscriber
6         Ashland Ave & Lake St           Wood St & Hubbard St  Subscriber
7    Larrabee St & Kingsbury St     Larrabee St & Armitage Ave    Customer
8        Sedgwick St & Huron St  Halsted St & Blackhawk St (*)  Subscriber
9  Stetson Ave & South Water St   Clinton St & Washington Blvd  Subscriber

   Gender  Birth Year
5    Male      1990.0
6  Female      1983.0
7     NaN         NaN
8    Male      1984.0
9    Male      1979.0

Would you like to see the next five rows of raw data? Enter yes or no.
no

## def main()

In [15]:
def main():
    while True:
        city, month, day = get_filters()
        df = load_data(city, month, day)

        time_stats(df)
        station_stats(df)
        trip_duration_stats(df)
        user_stats(df)
        
        while True:
            raw_data = input('\nWould you like to see the first 5 rows of raw data? Enter yes or no.\n')
            if raw_data.lower() != 'yes':
                break
                
            else:
                show_raw_data(df)
                break
        

        restart = input('\nWould you like to restart? Enter yes or no.\n')
        if restart.lower() != 'yes':
            break


if __name__ == "__main__":
	main()

Hello! Let's explore some US bikeshare data!
Please enter your city: washington
Please enter the month: april
Please enter the day: friday
----------------------------------------

Calculating The Most Frequent Times of Travel...

The most common month is 4
The most common day of week is 4
The most common start hour is 8

This took 0.007955551147460938 seconds.
----------------------------------------

Calculating The Most Popular Stations and Trip...

The most commonly used start station: Jefferson Dr & 14th St SW
The most commonly used end station: Lincoln Memorial
The most frequent combination of start station and end station is Jefferson Dr & 14th St SW and Jefferson Dr & 14th St SW

This took 0.039855241775512695 seconds.
----------------------------------------

Calculating Trip Duration...

Total travel time is: 11510520.951000001
Mean travel time is: 1292.4456491129542

This took 0.0 seconds.
----------------------------------------

Calculating User Stats...

Count of user types in your selected data is: Subscriber    6122
Customer      2784
Name: User Type, dtype: int64
There's no information on gender for your selected data
There's no information on birth year for your selected data

This took 0.015997886657714844 seconds.
----------------------------------------

Would you like to see the first 5 rows of raw data? Enter yes or no.
no

Would you like to restart? Enter yes or no.
no